# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Minecraft
runs/

# Debug
fabric/PrintClasspath.gradle
fabric/init.gradle
fabric/print_classpath.gradle
